.terraform/
env/dev/.terraform.lock.hcl
env/dev/.terragrunt-cache/

env/test/.terraform.lock.hcl
env/test/.terragrunt-cache/

env/prod/.terraform.lock.hcl
env/prod/.terragrunt-cache/

module/.terraform.lock.hcl
module/backend/.terraform.lock.hcl
module/backend/.terraform/
modules/backend/.terraform.lock.hcl
modules/backend/terraform.tfstate
modules/backend/terraform.tfstate.backup
modules/root-iam/.terraform.lock.hcl
modules/root-iam/.terraform/
modules/root-iam/terraform.tfstate
modules/root-iam/terraform.tfstate.backup
